@import '../../helpers.scss';

.tags-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  .tags-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background: $primary-background;

    .selector-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      background: $tag-select-background;
      border-radius: 10px;
      padding: 0.5rem 0.25rem;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid $tag-select-border;

      &:focus {
        border-color: $tag-select-border-focused;
      }

      .selector-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        background: inherit;
        border: none;
        border-radius: 10px;
        outline: none;
        width: 100%;
        color: $primary-text;
        text-align: center;
        font-weight: 500;

        .tag-icon {
          height: 18px;
          width: 18px;
        }
      }
    }

    .dropdown {
      width: 325px;
      height: fit-content;
      box-sizing: border-box;
      background: $tag-select-background;
      border: 1px solid $tag-select-border;
      border-radius: 5px;

      .dropdown-cell {
        width: 100%;
        padding: 0.5rem;
        background: inherit;
        margin: 0 auto;
        border-bottom: 1px solid $tag-select-dropdown-inner-border;
        box-sizing: border-box;
      }
      label {
        display: flex;
        justify-content: flex-start;
        padding: 0.5rem 0;
        margin: 0;
        height: fit-content;
        font-size: 0.75rem;
        font-weight: 500;
      }
      input {
        background: inherit;
        width: 100%;
        background: $secondary-background;
        // border: 1px solid $tag-select-border;
        border: none;
        border-radius: 5px;
        height: 30px;
        color: $primary-text;
        padding: 0.25rem 0.5rem;
        box-sizing: border-box;
        font-size: 0.8rem;
        outline: 1px solid $tag-select-border;

        &:focus {
          outline: 2px solid $primary !important;
        }
      }
      .option {
        position: relative;
        display: flex;
        cursor: pointer;
        .text {
          padding-left: 0.75rem;
          font-size: 0.8rem;
        }
        .selected-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 14px;
          width: 14px;
          padding-left: 0.5rem;
        }

        .actions {
          position: absolute;
          right: 0.5rem;
          display: flex;
          gap: 0.5rem;
          color: $secondary-text;
          .edit-icon {
            &:hover {
              color: $primary-text;
            }
          }
          .delete-icon {
            &:hover {
              color: $error-red;
            }
          }
        }

        &:hover {
          background: $tag-select-dropdown-inner-border;
        }
      }
    }
  }
}
