@function theme($theme-name) {
  @return var(--#{$theme-name});
}

html {
  --primary: #00adb5;

  --primary-background: #212730;
  --secondary-background: #1a1f26;
  --tertiary-background: #13171c;

  --primary-text: #eeeeee;
  --secondary-text: #a6a6a6;
  --tertiary-text: #777777;

  --theme-toggle-background: #eeeeee;
  --theme-toggle-border: #c7c7c7;

  --input-background: #373c44;
  --input-border-width: 0px;
  --input-border-style: solid;
  --input-border-color: none;
}
